@media screen and (max-width: 550px) {
  .projectOrganizer .workItemTitleLetter {
    font-size: 60px;
    margin-top: -30px;
  }
}

@media screen and (max-width: 500px) {
  .projectOrganizer .workItemTitleLetter {
    font-size: 50px;
    margin-top: -30px;
  }
}

@media screen and (max-width: 400px) {
  .projectOrganizer .workItemTitleLetter {
    font-size: 45px;
    margin-top: -20px;
  }
}

@media screen and (max-width: 350px) {
  .projectOrganizer .workItemTitleLetter {
    font-size: 38px;
    margin-top: -10px;
  }
}

@media screen and (max-width: 300px) {
  .projectOrganizer .workItemTitleLetter {
    font-size: 34px;
    margin-top: -5px;
  }
}

@media screen and (max-width: 450px) {
  .titleAndSubheader {
    height: 70px;
    /* border: 2px solid red; */
  }

  .titleAndSubheader.titleSubheaderExists {
    height: 110px;
  }

  .workItemTitleLetter {
    font-size: 40px;
  }
}

@media screen and (max-width: 350px) {
  .greenZenphonyWorkItemDiv .workItemTitleLetter {
    font-size: 35px;
  }

  .rsgWorkItemDiv .workItemTitleLetter {
    font-size: 80px;
  }
}

@media screen and (max-width: 300px) {
  .greenZenphonyWorkItemDiv .workItemTitleLetter {
    font-size: 30px;
    margin-top: -20px;
  }
}

@media screen and (orientation: portrait) {
  .workItem_Min_Wrapper .titleAndSubheader {
    top: 0px;
  }

  .projectOrganizer.workItem_Min_Wrapper .titleAndSubheader {
    /* top: -25px; */
  }

  .quizaWorkItemDiv.workItem_Min_Wrapper .titleAndSubheader {
    top: -5px;
  }
}
