.menuLineDiv {
    position: absolute;
    transform: translateX(50px) translateY(-135px) rotate(-45deg);
    /* border: 2px solid white; */
    width: 300px;
    height: auto;
    z-index: -1;
    pointer-events: none;
}

.removeLine {
    display: none; 
}

.navBtn:nth-child(2) .menuLineDiv {
    transform: translateX(57px) translateY(-132px) rotate(-45deg);
}

.navBtn:nth-child(3) .menuLineDiv {
    transform: translateX(33px) translateY(-120px) rotate(-70deg);
}

.menuLineDiv svg {
    /* border: 1px solid red; */
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 30px;
    width: auto !important;
    height: 100px !important;
    filter: 
    drop-shadow(0 0 10px blueviolet)
    /* drop-shadow(0 0 20px cyan) */
    ;
    /* animation: .5s menuline1 infinite; */
}

.menuLineDiv path {
    stroke: rgb(93, 0, 255) !important;
}

.navBtn:nth-child(2) .menuLineDiv path {
    stroke: rgb(19, 108, 186) !important;
}

.navBtn:nth-child(3) .menuLineDiv path {
    /* stroke: rgb(167, 16, 61) !important; */
    stroke: rgb(90, 211, 255) !important;
}

@keyframes menuline1 {
    0% {
        filter: 
        hue-rotate(0deg)
        drop-shadow(0 0 0px blue)
        ;
    }
    100% {
        filter: 
        hue-rotate(-70deg) 
        drop-shadow(0 0 20px cyan)
        ;
    }
}

.menuLineDiv button {
    display: none;
    position: absolute;
    left: 200px;
}