.happyUserIconSVG {
    /* border: 1px solid red; */
    width: 45px;
    filter:
    /* drop-shadow(0 0 1px black) */
    drop-shadow(0 0 2px rgb(180, 210, 218))
    ;
}

.happyUserIconPath0 {
    fill:none;
    stroke:rgb(219, 241, 247);
    stroke-width:10;
    stroke-miterlimit:10;
}

.happyUserIconPath1 {
    fill:none;
    stroke:rgb(180, 210, 218);
    stroke-width:10;
    stroke-linecap:round;
    stroke-linejoin:round;
}

.happyUserIconPath2 {
    fill:none;
    stroke:rgb(219, 241, 247);
    stroke-width:10;
    stroke-linecap:round;
    stroke-miterlimit:10;
}