.radio-group {
  display: none;
}

.w_RadioGroup {
  position: absolute;
  bottom: 0px;
  display: flex;
  height: 0px;
  outline: none;
  /* border: 1px solid red; */
  z-index: 3;

  input {
    opacity: 0;
  }
}

.radioBtnContainer {
  padding: 0px 20px;
  transition: 1s;
  transform-origin: center;
  transform: rotate(180deg) scale(0, 0);
  // border: 2px solid red;

  &.showRadioBtnContainer {
    transform: unset;
  }
}

.pageSwitching-exit .radioBtnContainer {
  transform: unset;
}
.pageSwitching-exit.pageSwitching-exit-active .radioBtnContainer {
  transform: rotate(180deg) scale(0, 0);
}

.customRadioBtn {
  top: -30px;
  width: 25px;
  height: 25px;
  border: double 2px transparent;
  border-radius: 50px;
  background-image: linear-gradient(rgb(13, 13, 61), rgb(16, 16, 54)),
    radial-gradient(circle at top left, /* rgb(11, 28, 102) 60%,#2e20f1 80%) */ rgb(11, 28, 102) 60%, #2e20f1 80%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  transform: rotate(0deg);
  transition: 0.4s ease-in-out;
  position: relative;
  cursor: pointer;

  &::after {
    position: absolute;
    content: "";
    top: calc(50% - 2.5px);
    left: calc(50% - 2.5px);
    width: 5px;
    height: 5px;
    background: linear-gradient(to top, rgb(27, 13, 177), rgb(44, 83, 255));
    border-radius: 50px;
    transform: scale(0, 0) rotate(0deg);
    transition: 0.5s ease-in-out;
  }
}

.radioBtnContainer.isMiscPage .customRadioBtn {
  filter: hue-rotate(-50deg);
}

.isTouchScreen .customRadioBtn {
  cursor: auto;
}

.radioBtnContainer input {
  &:not(:checked) ~ .customRadioBtn:hover {
    filter: brightness(150%);
  }

  &:checked ~ .customRadioBtn {
    transform: rotate(-315deg) scale(1, 1);
    border-radius: 5px;

    &::after {
      transform: scale(1, 1) rotate(765deg);

      /* box-shadow: 0 0 5px 0 rgb(44, 83, 255); */
    }
  }
}

.radioBtnContainer.isMiscPage input:not(:checked) ~ .customRadioBtn:hover {
  filter: brightness(150%) hue-rotate(-50deg);
}
