.portfolioIconDivWrapper {
    position: absolute;
    top: -25px;
    left: -3px;
    /* border: 1px solid cyan; */
}

.portfolioIconHide {
    display: none;
}

.navBtn:nth-child(2) {
    position: relative;
}

.portfolioIconDiv {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    /* border: 3px solid coral; */
    /* display: none; */
}

.portfolioIconDiv svg {
    /* border: 1px solid red; */
    position: absolute;
    width: 80px !important;
    height: 80px !important;
    
    filter: 
    drop-shadow(-0.5px .5px 0.5px rgba(0, 255, 255, 1))
    drop-shadow(0 0 5px rgb(8, 0, 255))
    drop-shadow(2px 2px 5px rgb(8, 0, 255))
    ;    
}
