.staircaseDiv * {
    /* filter: unset !important;
    box-shadow: unset !important;
    text-shadow: unset !important; */
}

.staircaseDiv {
    width: 500px;
    height: 100%;
    /* border: 2px solid red; */
    position: fixed;
    z-index: 2;
    top: 0px;
    left: 100px;
    transform-origin: center;
    /* display: none; */
    pointer-events: none;
}

/* .staircaseScene:nth-child(1) { animation: 5s hoveringStairAnim .6s infinite ease-in-out; } 
.staircaseScene:nth-child(2) { animation: 5s hoveringStairAnim 0s infinite ease-in-out; } 
.staircaseScene:nth-child(3) { animation: 5s hoveringStairAnim .4s infinite ease-in-out; }  */


@keyframes hoveringStairAnim {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(10px);
    }
    /* 100% {
        
    } */
}

.staircaseScene {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100px;
    /* width: 100vw;
    height: 100vh; */
    margin: 0px;
    /* border: 3px solid white; */
    
    /* opacity: 0; */
    transition-duration: 1.5s;
    /* filter: brightness(150%) !important; */
    opacity: 0;
}

.staircaseScene.revealStairSceneFirstVisit { opacity: 1; }

.staircaseScene:nth-child(1) { transition-delay: 1s; }
.staircaseScene:nth-child(2) { transition-delay: 1.2s; }
.staircaseScene:nth-child(3) { transition-delay: 1.5s; }


.stair {
    margin-left: 0px;
    margin-top: 0px;
    width: 100%;
    height: 50px;
    position: relative;
    transform-style: preserve-3d;
    /* transition: transform 2s cubic-bezier(0.16, 1, 0.3, 1); */
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.34, 1.56, 0.8, 1);
    /* transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1); */
    /* transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1); */
    
    /* transform:  translateX(-400px) translateY(-300px) translateZ(-100px) rotateX(-25deg) rotateY(35deg); */
    /* transform:  translateX(-400px) translateY(-300px) translateZ(-100px) rotateX(-35deg) rotateY(75deg); */
    /* transform:  translateX(-400px) translateY(-300px) translateZ(-100px) rotateX(-55deg) rotateY(-80deg); */
    /* transform:  translateX(-300px) translateY(-150px) translateZ(-100px) rotateX(-25deg) rotateY(40deg); */
    
    /* border: 3px solid white; */
    /* transform: unset !important; */
}

.stair2 {
    width: 50%;
}

.stair0 {  
    transform: 
    translateX(-130px)
    translateY(80px)
    translateZ(-100px)
    rotateX(-35deg) 
    rotateY(25deg)
    ;

    &.reveal {
        transform:
        translateX(-100px)
        translateY(50px)
        translateZ(-100px)
        rotateX(-30deg)
        rotateY(20deg);
    }
}


.stair1 {
    transform:
    translateX(-80px)
    translateY( 190px)
    translateZ(-100px)
    rotateX(-40deg)
    rotateY(25deg);

    &.reveal {
        transform:
        translateX(-60px)
        translateY(120px)
        translateZ(-100px)
        rotateX(-20deg)
        rotateY(35deg);
    }
}


.stair2 {
    transform:  
    translateX(110px) 
    translateY(240px) 
    translateZ(-100px) 
    rotateX(-30deg) 
    rotateY(25deg);

    &.reveal {
        transform:  
        translateX(-20px)
        translateY(150px) 
        translateZ(-100px) 
        rotateX(-25deg) 
        rotateY(35deg);
        /* transition: .3s !important; */
    }
}

.revealSliderPanelFirstVisit .stair {
    transform:  translateX(0%) translateY(0px) translateZ(-100px) rotateX(-10deg) rotateY(10deg);
}

.stair0 { transition-delay: 1s; }
.stair1 { transition-delay: 1.2s; }
.stair2 { transition-delay: 1.5s; }

.stair__face {
    position: absolute;
    width: 200px;
    height: 200px;
    /* border: 2px solid black; */
}

:root {
    --stairFrontBackLeftRightHeight: 97%;
    /* --stairFrontAndBackWidth: 100%; */
    --stairFrontAndBackWidth: 99%;
}

.stair__face--front  { 
    width: var(--stairFrontAndBackWidth);
    height: var(--stairFrontBackLeftRightHeight);
    
    /* background: linear-gradient(to left, rgb(51, 62, 207), rgb(7, 3, 56)); */
    background: linear-gradient(
    to left,
    rgb(37, 29, 58), 
    rgb(13, 2, 31)
    );
    
    
    /* filter: drop-shadow(0 0 20px rgb(121, 84, 255)); */
    
    /* , inset 1px -1px 2px 0 rgb(43, 55, 226) */
    /* , inset 0 0 1px 0 cyan */
    ;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &::before  { 
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        /* border: 1px solid rgb(45, 45, 136); */
        /* filter: 
        drop-shadow(0 0 2px cyan)
        drop-shadow(0 0 10px rgba(137, 43, 226, 0.9))
        drop-shadow(0 0 2px rgba(137, 43, 226, 0.9))
        ; */
    }    
}

.stair__face--back { 
    /* background: linear-gradient(to bottom, rgb(12, 5, 44), rgb(56, 21, 180)); */
    background: linear-gradient(to bottom, rgb(11, 52, 163), rgb(7, 3, 24));
    
    /* filter: brightness(200%) !important; */
    border-top: 2px solid rgba(23, 20, 190, 0.5);
    /* width: var(--stairFrontAndBackWidth); */
    width: calc(var(--stairFrontAndBackWidth) - 2px);
    bottom: 0px;
    right: 0px;
    height: calc(var(--stairFrontBackLeftRightHeight) - 3px);
    /* box-shadow: 10px 0px 30px 0 rgb(56, 21, 180, 0.4); */
    /* box-shadow: 0px 0px 100px 0 rgba(43, 100, 255, 0.1); */
}
.stair__face--right  { 
    background: rgba(0, 60, 255, 0.7);  
    /* filter: 
    drop-shadow(0 0 20px blue)
    drop-shadow(0 0 100px rgba(0, 0, 255, 0.4))
    ; */
    
    /* box-shadow: 
    0 0 20px blue
    , 0 0 100px blue
    ; */
}
.stair__face--left   { 
    background: linear-gradient(
        to right,
        rgb(37, 29, 58), 
        rgb(13, 2, 31)
        );
    /* background-color: rgb(16, 9, 87); */
    
    /* filter: 
    drop-shadow(0 0 20px rgba(0, 0, 255, 0.4))
    drop-shadow(0 0 100px rgba(0, 0, 255, 0.4))
    ; */
}
.stair__face--top    { 
    /* background: radial-gradient(rgba(21, 21, 105, 0.7), rgba(9, 9, 46, 0.7));  */
    background: linear-gradient(
    to bottom,
    rgba(37, 29, 58, .8),
    rgba(13, 2, 31, .8)
    );
    /* overflow: hidden; */
}


/* .staircaseScene:nth-child(1) .stair__face--top { animation: overlayOpenerBrightnessAnim 5s infinite ease-out; }
.staircaseScene:nth-child(2) .stair__face--top { animation: overlayOpenerBrightnessAnim 5s .5s infinite ease-out; }
.staircaseScene:nth-child(3) .stair__face--top { animation: overlayOpenerBrightnessAnim 5s 1s infinite ease-out; } */

.stair__face--bottom { 
    background: rgba(36, 1, 117, 1);
    /* filter: 
    drop-shadow(0 0 20px rgba(0, 0, 255, 0.5))
    drop-shadow(0 0 5px rgba(78, 14, 199, 0.5))
    drop-shadow(0 0 1px rgba(0, 255, 234, 0.2))
    ; */
    
    /* box-shadow: 
    -10px -10px 30px rgba(10, 28, 129, 0.6)
    , 0 0 5px rgba(78, 14, 199, 0.5)
    ; */
}

.stair__face--front  { opacity: .9; transform: rotateY(  0deg) translateZ(119px) translateY(-5px) translateX(2px); }
.stair__face--back   { transform: rotateY(180deg) translateZ(-45px) translateY(-9px) translateX(5px);  }
.stair__face--right  { transform: rotateY( 90deg) translateZ(459px) translateX(-81px) translateY(-4px); width: 75px; height: calc(var(--stairFrontBackLeftRightHeight) - 2px); }
.stair__face--left   { opacity: .85; transform: rotateY(-90deg) translateZ(42px) translateX(90px) translateY(-10px); width: 76px; height: var(--stairFrontBackLeftRightHeight); }
.stair__face--top    { opacity: 1; transform: rotateX( 90deg) translateZ(45px) translateX(0px) translateY(85px); width: 99%; height: 76px;}
.stair__face--bottom { transform: rotateX(-90deg) translateZ(0px) translateY(-80px) scale(1, .8); height: 80px; width: 100%;}

.stair2 .stair__face--right  { display: none; }
.stair2 .stair__face--back   { transform: rotateY(180deg) translateZ(-45px) translateY(-9px) translateX(2px);  }

.stair0 .stair__face--left   { 
    opacity: .85; 
    transform: 
    rotateY(-90deg)
    translateZ(39px)
    translateX(90px)
    translateY(-10px)
    ; 
    width: 76px; 
    height: var(--stairFrontBackLeftRightHeight);
}

.stair1 .stair__face--left   { 
    opacity: .85; 
    transform: 
    rotateY(-90deg)
    translateZ(41px)
    translateX(90px)
    translateY(-10px)
    ; 
    width: 76px; 
    height: var(--stairFrontBackLeftRightHeight);
}

.stair2 .stair__face--left   { 
    opacity: .85; 
    transform: 
    rotateY(-90deg)
    translateZ(41px)
    translateX(90px)
    translateY(-10px)
    ; 
    width: 76px; 
    height: var(--stairFrontBackLeftRightHeight);
}

.stair__face--top, .stair__face--left, .stair__face--front {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* overflow: hidden; */
    /* perspective: 1000px;
    transform-style: preserve-3d; */
    /* padding: 20px 20px; */
}

.stair__face--front {
    padding-top: 0px;
    padding-left: 20px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    overflow: hidden;
}

.stair__face--left {
    padding-top: 5px;
    padding-left: 10px;
}

.stair2 .stair__face--top {
    justify-content: flex-end;
}

.stair p { 
    font-family: "Didact Gothic";
    transform-origin: bottom;
    transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
    color: white;
    font-size: 3em;
    margin: 0px;
    white-space: pre;
}

.showStairText.stair p { 
    text-shadow: 0 0 10px white;
}

/* stair2 */
.stair__face--front p {
    transition-duration: 2s;
    transition-delay: 2s;
    opacity: 0;
}

.stair2 .stair__face--front p {
    transform: translateX(0px) translateY(100%);
    transition-duration: .5s;
    transition-delay: 2.4s;
}

.stair2 .stair__face--top .stairTopTextWrapper,
.stairTopTextWrapper p {
    transition-delay: 2.5s;
    transition-duration: 1s;
}

.stair__face--front p {
    transform: translateX(-150%) translateY(0px);
}

.showStairText .stair__face--front p {
    transform: translateY(-5px);
    opacity: 1;
}

.stair__face--front .dragLines {
    display: flex;
    
    height: 20px;
    /* Width for the word "Portfolio" */
    /* width: 250px; */
    
    /* Width for the word "Touch" */
    width: 150px;
    transform: translateY(-200%);
    transition-duration: 2s;

    .dragLine {
        width: 3px;
        height: 20px;    
        background: linear-gradient(to top, rgb(17, 167, 159) 20%, white 100%);
        position: absolute;
        border-bottom-left-radius: 100px;
        border-bottom-right-radius: 100px;
    }
}

/* translateX values for the word "Touch" */
.dragLine {
    transition-delay: 0s !important;
}

.stair__face--front .dragLine:nth-child(1) {
    transform: translateX(42px);
}

.stair__face--front .dragLine:nth-child(2) {
    transform: translateX(96px);
}

.stair__face--front .dragLine:nth-child(3) {
    transform: translateX(128px);
}

.stair__face--front .dragLine:nth-child(4) {
    transform: translateX(144px);
}

.stair__face--front .dragLine:nth-child(5) {
    transform: translateX(124px);
    display: none;
}

.stair__face--front .dragLine:nth-child(6) {
    transform: translateX(204px);
    display: none;
}

.dragLines.showDragLines { transform: unset; }

.showStairText .dragLine {
    box-shadow: 
    0 0 20px 0 cyan
    , 0 0 20px 0 cyan
    , 0 0 50px 0 cyan
    ;
}

.showStairText.stair2 .stair__face--top p {
    transform: translateY(16px) !important;
}

.stair__face--left {
    transform-style: preserve-3d;
    perspective: 1000px;
}

/* stair2 */
.stair__face--left p {
    transition-duration: .8s;
    transition-delay: 2.1s;
    transform: translateX(-90px) translateY(40px);
    opacity: 0;
}

.showStairText .stair__face--left p {
    transform: translateX(-4px) translateY(-10px) scale(.9, .9);
    opacity: 1;
}

/* this is stair0 */
.stairTopTextWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 2s;
    transition-delay: 1s;
    transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
    transform: translateY(-100%);
}

.stair2 .stairTopTextWrapper {
    justify-content: flex-end;
}

.showStairText .stairTopTextWrapper {
    transform: unset;
}

.stair2.showStairText .stairTopTextWrapper {
    transform: translateY(4px);
}

.stair__face--top {
    overflow: hidden;
}